﻿@using InformaSpexBanner.ViewModels
@model ExhibitionViewModel

<div class="page-header">
	<h2 id="exhibition-name">@Model.Name 
<a asp-controller="Banner" asp-action="Create" asp-route-id="@Model.Id" class="pull-right mt-m btn btn-lg btn-default">Add new banner</a>
</h2>
	<p><small>Exhibition banners</small></p>
</div>
<div class="row">
	<div class="col-md-12">
		<label asp-for="Description"></label>
		<div>@Model.Description</div>
		<label asp-for="WebUrl">Embedding URL</label>
		<div>@Model.WebUrl</div>
	</div>
</div>
@{var r=0 ; var i=1;}
<div class="row">
	@foreach(var banner in Model.Banners)
	{
		<div class="col-xs-12 col-md-4">
			<div class="ibanner" data-toggle="modal" data-target="#@banner.Id">
				<h4 class="text-center">@banner.Name</h4>
				<div class="pull-right"><span class="imgWidth"></span>
				<span class="imgHeight"></span></div>
                
			<div class="overlay"><span class="align-middle glyphicon glyphicon-zoom-in"></span></div>
			</div>
			<div class="pull-right">
				<a asp-controller="Banner" asp-action="Edit" class="btn btn-primary" asp-route-id="@banner.Id">Edit</a>
				<a asp-controller="Banner" asp-action="Delete" class="btn btn-danger" asp-route-id="@banner.Id">Remove</a>
			</div>
		</div>

		if(i%3==0)
		{
			r++;
			@:</div><div class="row">
		}
		i++;      
	}

</div>

@foreach(var banner in Model.Banners)
{
	<div id="@banner.Id" class="modal fade"><img class="thumbnail" src="@banner.ImageBase64String" /></div>
}
<div class="clearfix"></div>