@using InformaSpexBanner.ViewModels
@model BannerEditViewModel

<div class="row">
	<div class="col-md-12">
		<h2>@Model.Name</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<form asp-controller="Banner" asp-action="Create" method="post" enctype="multipart/form-data">
			<input type="hidden" asp-for="@Model.ExhibitionId" />
			<input type="hidden" asp-for="@Model.Id" />
			<label asp-for="Name"></label>
			<input asp-for="Name"></input>
			<label>Change Image</label>
			<input asp-for="Image" />
			
			@if(!String.IsNullOrEmpty(@Model.ImageBase64String))
			{
			<div class="banner">
				<img src="@Model.ImageBase64String" />
				<span id="ctext"></span>
			</div>
			}
			
			<label asp-for="FixedText"></label>
			<input id="ctextInput" asp-for="FixedText" />
			<input id="posxInput" asp-for="PositionX" type="hidden" />
			<input id="posyInput" asp-for="PositionY" type="hidden" />
			<input id="fsizeInput" asp-for="FontSize" type="range" min="12" max="38" step="2" />
			<input id="fcolorInput" asp-for="FontColorHex" type="color" />
			<button type="submit">Save</button>
		</form>
	</div>
</div>

<style type="text/css">
	.banner{position:relative;}
#ctext{
	position:absolute;
	left:0;
	top:0;
	display:block;
	background:rgba(150,150,255,0.3);
	padding:2px;
	}
</style>