@using InformaSpexBanner.ViewModels
@model ExhibitionViewModel

<div class="row">
	<div class="col-md-12">
		<h2>@Model.Name</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<label asp-for="Description"></label>
		<div>@Model.Description</div>
		<label asp-for="WebUrl"></label>
		<div>@Model.WebUrl</div>
	</div>
</div>


<div class="row">
	<div class="col-md-12">
		@foreach(var banner in Model.Banners)
		{
			<div class="banner">
				<span asp-for="@banner.Id"></span>
				<span asp-for="@banner.Text"></span>
			</div>
		}
	</div>
</div>

<a asp-controller="Banner" asp-action="Create" asp-route-id="@Model.Id">Add banner</a>