@using InformaSpexBanner.ViewModels
@model ExhibitionViewModel

@{
    ViewData["Title"] = "Informa Exhibitor Personalised Banner";
}
<div class="page-header">
    <h2>Download @Model.Name Banners</h2>
    <p><small>Click <strong>Preview</strong> to view the banner and click <strong>Download</strong> to save your personalised banner.</small></p>			
</div>

<div class="list-group mb-l">
@foreach(var banner in Model.Banners)
    {
    
	<div class="list-group-item">
		<div class="row ilbanner">
            <div class="col-xs-3 col-md-4">
				<span class="imgWidth"></span></div>
			<div class="col-xs-3 col-md-4">
                <span class="imgHeight"></span></div>
			<div class="col-xs-3 col-md-2"><a data-toggle="modal" data-target="#@banner.Id" class="preview btn btn-default">Preview</a></div>
			<div class="col-xs-3 col-md-2"><a href="@banner.ImageBase64String" data-filename="#@banner.Id" class="btn btn-default" download="@banner.Name-informa.jpg">Download</a></div>
		</div>
	</div>
	}
</div>

@foreach(var banner in Model.Banners)
{
	<div id="@banner.Id" class="modal fade"><img class="thumbnail" src="@banner.ImageBase64String" /></div>
}
<div class="clearfix"></div>